.metric-display-component .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }

.metric-display-component .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
div.metric-display-component .label {
  font-family: 'Raleway-light';
  font-size: 24px !important;
  color: #000000;
  opacity: 0.75;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
div.metric-display-component .data {
  margin: 0 auto;
  text-align: center;
  font-family: 'bebas-neue-bold';
  color: #d5d5da;
  font-size: 8rem;
  font-weight: 400;
  line-height: 9rem;
  padding-top: 48px;
}
div.metric-display-component {
  position: relative;
  width: 285px;
  height: 285px;
  margin: 0 auto;
  text-align: center;
  margin-top: 8px;
}

div.metric-display-component:before, div.metric-display-component:after,div.metric-display-component .data:before, div.metric-display-component .data:after {
  position: absolute;
  width: 40px;
  height: 40px;
  border-color: #606065;
  border-style: solid;
  content: ' ';
}
div.metric-display-component:before {
  top: 0;
  left: 0;
  border-width: 4px 0 0 4px;
}
div.metric-display-component .data:before {
  bottom: 0;
  right: 0;
  border-width: 0 4px 4px 0;
}
div.metric-display-component .data:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 4px 4px;
}
div.metric-display-component:after {
  top: 0;
  right: 0;
  border-width: 4px 4px 0 0;
}
