#stats-list-component .statslist .card {
  margin-bottom: 8px !important;
}
#stats-list-component .card .style-accent-dark, section.style-accent-dark, .card.style-accent-dark {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #252727;
}
#stats-list-component .card {
  margin-bottom: 24px;
  background-color: #fff;
  color: #313534;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
  position: relative;
}
#stats-list-component .card-head:after, #stats-list-component .card-head:before, #stats-list-component .card:after, #stats-list-component .card:before {
  content: " ";
  display: table;
}
#stats-list-component :after, #stats-list-component :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#stats-list-component .card-underline .card-head {
  border-bottom: 1px solid rgba(150,156,156,.4);
}

#stats-list-component .card-head {
  line-height: 52px;
  min-height: 56px;
  vertical-align: middle;
  border-radius: 2px 2px 0 0;
}

#stats-list-component .card-head header {
  padding: 11px 24px;
  vertical-align: middle;
  line-height: 17px;
  font-size: 20px;
}

#stats-list-component .card-head header, #stats-list-component  .card-head>div {
  display: inline-block;
}
#stats-list-component .card-head .tools {
  padding-right: 16px;
  float: right;
}
#stats-list-component .card-head {
  line-height: 52px;
  min-height: 56px;
  vertical-align: middle;
  border-radius: 2px 2px 0 0;
}

#stats-list-component #stats a.btn {
  margin: 0 auto !important;
}

#stats-list-component .card .btn-icon-toggle {
  padding: 0px;
  width: 36px;
}
