#rating-block-component .donut {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  background-repeat: no-repeat;
}
#rating-block-component #positive text {
  fill: #1995CC;
}
#rating-block-component #negative text {
  fill: #cc1927;
}
#rating-block-component .positive.label {
  color: #1995CC;
}
#rating-block-component .negative.label {
  color: #cc1927;
}
#rating-block-component #positive path.color0 {
  fill: #1995CC;
}
#rating-block-component #positive path.color1 {
  fill: #35526b;
}
#rating-block-component #negative path.color0 {
  fill: #cc1927;
}
#rating-block-component #negative path.color1 {
  fill: #6b3935;
}
#rating-block-component text {
  font-family: 'bebas-neue-bold';
  font-size: 7rem;
  font-weight: 400;
  line-height: 16rem;
}
#rating-block-component i {
 font-size: 48px !important;
 margin-right: 10px;
}
#rating-block-component .label {
  font-family: 'Raleway-light';
  font-size: 24px !important;
  opacity: 0.75;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;
}
