@font-face {
  font-family: 'fontello';
  src: url('./fontello.eot?45974372');
  src: url('./fontello.eot?45974372#iefix') format('embedded-opentype'),
       url('./fontello.woff?45974372') format('woff'),
       url('./fontello.ttf?45974372') format('truetype'),
       url('./fontello.svg?45974372#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../../fonts/fontello.svg?45974372#fontello') format('svg');
  }
}
*/

.gr-icon {
  display: inline-block;
  font: normal normal normal 14px/1 fontello;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

/* makes the font 33% larger relative to the icon container */
.gr-icon.lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.gr-icon.s2x {
  font-size: 2em;
}
.gr-icon.s3x {
  font-size: 3em;
}
.gr-icon.s4x {
  font-size: 4em;
}
.gr-icon.s5x {
  font-size: 5em;
}
.gr-icon.fw {
  width: 1.28571429em;
  text-align: center;
}
.gr-icon.ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.gr-icon.ul > li {
  position: relative;
}
.gr-icon.li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.gr-icon.li.lg {
  left: -1.85714286em;
}
.gr-icon.border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.gr-icon.pull-right {
  float: right;
}
.gr-icon.pull-left {
  float: left;
}
.gr-icon.pull-left {
  margin-right: .3em;
}
.gr-icon.pull-right {
  margin-left: .3em;
}
.gr-icon.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.gr-icon.pulse {
  -webkit-animation: spin 1s infinite steps(8);
  animation: spin 1s infinite steps(8);
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.gr-icon.rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gr-icon.rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.gr-icon.rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.gr-icon.flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.gr-icon.flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .gr-icon.rotate-90,
:root .gr-icon.rotate-180,
:root .gr-icon.rotate-270,
:root .gr-icon.flip-horizontal,
:root .gr-icon.flip-vertical {
  filter: none;
}
.gr-icon.stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.gr-icon.stack-1x,
.gr-icon.stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.gr-icon.stack-1x {
  line-height: inherit;
}
.gr-icon.stack-2x {
  font-size: 2em;
}
.gr-icon.inverse {
  color: #ffffff;
}

.gr-icon.icon-mic:before { content: '\e800a'; } /* '' */
.gr-icon.icon-in-motion:before { content: '\e800'; } /* '' */
.gr-icon.icon-write:before { content: '\e801'; } /* '' */
.gr-icon.icon-circle-split:before { content: '\e802'; } /* '' */
.gr-icon.icon-formations:before { content: '\e803'; } /* '' */
.gr-icon.icon-play:before { content: '\e804'; } /* '' */
.gr-icon.icon-cliproute:before { content: '\e805'; } /* '' */
.gr-icon.icon-squad:before { content: '\e806'; } /* '' */
.gr-icon.icon-player:before { content: '\e807'; } /* '' */
.gr-icon.icon-scripts:before { content: '\e808'; } /* '' */
.gr-icon.icon-gr-chart:before { content: '\e809'; } /* '' */
.gr-icon.icon-mouse-select:before { content: '\e80a'; } /* '' */
.gr-icon.icon-clip-verified:before { content: '\e80b'; } /* '' */
.gr-icon.icon-gr-route-defense:before { content: '\e80c'; } /* '' */
.gr-icon.icon-syncing:before { content: '\e80d'; } /* '' */
.gr-icon.icon-spin2:before { content: '\e80e'; } /* '' */
.gr-icon.icon-fade:before { content: '\e80f'; } /* '' */
.gr-icon.icon-arrow-hook:before { content: '\e810'; } /* '' */
.gr-icon.icon-arrow-dl:before { content: '\e811'; } /* '' */
.gr-icon.icon-mail:before { content: '\e812'; } /* '' */
.gr-icon.icon-search:before { content: '\e813'; } /* '' */
.gr-icon.icon-mail-alt:before { content: '\e814'; } /* '' */
.gr-icon.icon-star:before { content: '\e815'; } /* '' */
.gr-icon.icon-star-empty:before { content: '\e816'; } /* '' */
.gr-icon.icon-star-half:before { content: '\e817'; } /* '' */
.gr-icon.icon-star-half-alt:before { content: '\e818'; } /* '' */
.gr-icon.icon-cancel-circled-1:before { content: '\e819'; } /* '' */
.gr-icon.icon-align-justify:before { content: '\e81a'; } /* '' */
.gr-icon.icon-right-hand:before { content: '\e81b'; } /* '' */
.gr-icon.icon-spin1:before { content: '\e81c'; } /* '' */
.gr-icon.icon-videocam:before { content: '\e81d'; } /* '' */
.gr-icon.icon-video:before { content: '\e81e'; } /* '' */
.gr-icon.icon-picture:before { content: '\e81f'; } /* '' */
.gr-icon.icon-camera:before { content: '\e820'; } /* '' */
.gr-icon.icon-linkedin:before { content: '\e821'; } /* '' */
.gr-icon.icon-facebook:before { content: '\e822'; } /* '' */
.gr-icon.icon-windows-1:before { content: '\e823'; } /* '' */
.gr-icon.icon-ok:before { content: '\e824'; } /* '' */
.gr-icon.icon-cancelme:before { content: '\e825'; } /* '' */
.gr-icon.icon-laptop:before { content: '\e826'; } /* '' */
.gr-icon.icon-route-block:before { content: '\e827'; } /* '' */
.gr-icon.icon-plus:before { content: '\e828'; } /* '' */
.gr-icon.icon-minus:before { content: '\e829'; } /* '' */
.gr-icon.icon-plus-squared:before { content: '\e82a'; } /* '' */
.gr-icon.icon-plus-squared-alt:before { content: '\e82b'; } /* '' */
.gr-icon.icon-minus-squared-alt:before { content: '\e82c'; } /* '' */
.gr-icon.icon-minus-squared:before { content: '\e82d'; } /* '' */
.gr-icon.icon-help-1:before { content: '\e82e'; } /* '' */
.gr-icon.icon-help-circled:before { content: '\e82f'; } /* '' */
.gr-icon.icon-info-circled-1:before { content: '\e830'; } /* '' */
.gr-icon.icon-info-1:before { content: '\e831'; } /* '' */
.gr-icon.icon-home-1:before { content: '\e832'; } /* '' */
.gr-icon.icon-link:before { content: '\e833'; } /* '' */
.gr-icon.icon-unlink:before { content: '\e834'; } /* '' */
.gr-icon.icon-link-ext:before { content: '\e835'; } /* '' */
.gr-icon.icon-link-ext-alt:before { content: '\e836'; } /* '' */
.gr-icon.icon-ok-squared:before { content: '\e837'; } /* '' */
.gr-icon.icon-attach:before { content: '\e838'; } /* '' */
.gr-icon.icon-lock:before { content: '\e839'; } /* '' */
.gr-icon.icon-lock-open:before { content: '\e83a'; } /* '' */
.gr-icon.icon-lock-open-alt:before { content: '\e83b'; } /* '' */
.gr-icon.icon-pin:before { content: '\e83c'; } /* '' */
.gr-icon.icon-eye:before { content: '\e83d'; } /* '' */
.gr-icon.icon-eye-off:before { content: '\e83e'; } /* '' */
.gr-icon.icon-tag:before { content: '\e83f'; } /* '' */
.gr-icon.icon-quote-right:before { content: '\e840'; } /* '' */
.gr-icon.icon-quote-left:before { content: '\e841'; } /* '' */
.gr-icon.icon-code:before { content: '\e842'; } /* '' */
.gr-icon.icon-reply-all:before { content: '\e843'; } /* '' */
.gr-icon.icon-forward:before { content: '\e844'; } /* '' */
.gr-icon.icon-reply:before { content: '\e845'; } /* '' */
.gr-icon.icon-upload-cloud:before { content: '\e846'; } /* '' */
.gr-icon.icon-clouds-flash:before { content: '\e847'; } /* '' */
.gr-icon.icon-download-cloud:before { content: '\e848'; } /* '' */
.gr-icon.icon-thumbs-down-alt:before { content: '\e849'; } /* '' */
.gr-icon.icon-thumbs-up-alt:before { content: '\e84a'; } /* '' */
.gr-icon.icon-thumbs-down:before { content: '\e84b'; } /* '' */
.gr-icon.icon-thumbs-up:before { content: '\e84c'; } /* '' */
.gr-icon.icon-tags:before { content: '\e84d'; } /* '' */
.gr-icon.icon-compass:before { content: '\e84e'; } /* '' */
.gr-icon.icon-windy-rain-inv:before { content: '\e84f'; } /* '' */
.gr-icon.icon-snow-inv:before { content: '\e850'; } /* '' */
.gr-icon.icon-snow-heavy-inv:before { content: '\e851'; } /* '' */
.gr-icon.icon-hail-inv:before { content: '\e852'; } /* '' */
.gr-icon.icon-clouds-inv:before { content: '\e853'; } /* '' */
.gr-icon.icon-clouds-flash-inv:before { content: '\e854'; } /* '' */
.gr-icon.icon-temperature:before { content: '\e855'; } /* '' */
.gr-icon.icon-windy-inv:before { content: '\e856'; } /* '' */
.gr-icon.icon-sunrise:before { content: '\e857'; } /* '' */
.gr-icon.icon-sun-1:before { content: '\e858'; } /* '' */
.gr-icon.icon-moon:before { content: '\e859'; } /* '' */
.gr-icon.icon-eclipse:before { content: '\e85a'; } /* '' */
.gr-icon.icon-mist:before { content: '\e85b'; } /* '' */
.gr-icon.icon-wind:before { content: '\e85c'; } /* '' */
.gr-icon.icon-windy-rain:before { content: '\e85d'; } /* '' */
.gr-icon.icon-snow:before { content: '\e85e'; } /* '' */
.gr-icon.icon-snow-alt:before { content: '\e85f'; } /* '' */
.gr-icon.icon-snow-heavy:before { content: '\e860'; } /* '' */
.gr-icon.icon-hail:before { content: '\e861'; } /* '' */
.gr-icon.icon-clouds:before { content: '\e862'; } /* '' */
.gr-icon.icon-na:before { content: '\e863'; } /* '' */
.gr-icon.icon-celcius:before { content: '\e864'; } /* '' */
.gr-icon.icon-fahrenheit:before { content: '\e865'; } /* '' */
.gr-icon.icon-clouds-flash-alt:before { content: '\e866'; } /* '' */
.gr-icon.icon-sun-inv:before { content: '\e867'; } /* '' */
.gr-icon.icon-moon-inv:before { content: '\e868'; } /* '' */
.gr-icon.icon-cloud-sun-inv:before { content: '\e869'; } /* '' */
.gr-icon.icon-cloud-moon-inv:before { content: '\e86a'; } /* '' */
.gr-icon.icon-cloud-inv:before { content: '\e86b'; } /* '' */
.gr-icon.icon-cloud-flash-inv:before { content: '\e86c'; } /* '' */
.gr-icon.icon-drizzle-inv:before { content: '\e86d'; } /* '' */
.gr-icon.icon-rain-inv:before { content: '\e86e'; } /* '' */
.gr-icon.icon-snowflake:before { content: '\e86f'; } /* '' */
.gr-icon.icon-cloud-sun:before { content: '\e870'; } /* '' */
.gr-icon.icon-cloud-moon:before { content: '\e871'; } /* '' */
.gr-icon.icon-fog-sun:before { content: '\e872'; } /* '' */
.gr-icon.icon-fog-moon:before { content: '\e873'; } /* '' */
.gr-icon.icon-fog-cloud:before { content: '\e874'; } /* '' */
.gr-icon.icon-fog:before { content: '\e875'; } /* '' */
.gr-icon.icon-cloudy:before { content: '\e876'; } /* '' */
.gr-icon.icon-cloud-flash:before { content: '\e877'; } /* '' */
.gr-icon.icon-cloud-flash-alt:before { content: '\e878'; } /* '' */
.gr-icon.icon-drizzle:before { content: '\e879'; } /* '' */
.gr-icon.icon-rain:before { content: '\e87a'; } /* '' */
.gr-icon.icon-windy:before { content: '\e87b'; } /* '' */
.gr-icon.icon-bookmark:before { content: '\e87c'; } /* '' */
.gr-icon.icon-bookmark-empty:before { content: '\e87d'; } /* '' */
.gr-icon.icon-share-1:before { content: '\e87e'; } /* '' */
.gr-icon.icon-left-hand:before { content: '\e87f'; } /* '' */
.gr-icon.icon-pencil:before { content: '\e880'; } /* '' */
.gr-icon.icon-edit:before { content: '\e881'; } /* '' */
.gr-icon.icon-print:before { content: '\e882'; } /* '' */
.gr-icon.icon-retweet:before { content: '\e883'; } /* '' */
.gr-icon.icon-comment:before { content: '\e884'; } /* '' */
.gr-icon.icon-chat:before { content: '\e885'; } /* '' */
.gr-icon.icon-comment-empty:before { content: '\e886'; } /* '' */
.gr-icon.icon-chat-empty:before { content: '\e887'; } /* '' */
.gr-icon.icon-bell:before { content: '\e888'; } /* '' */
.gr-icon.icon-bell-alt:before { content: '\e889'; } /* '' */
.gr-icon.icon-bell-off:before { content: '\e88a'; } /* '' */
.gr-icon.icon-bell-off-empty:before { content: '\e88b'; } /* '' */
.gr-icon.icon-attention-alt:before { content: '\e88c'; } /* '' */
.gr-icon.icon-attention:before { content: '\e88d'; } /* '' */
.gr-icon.icon-attention-circled:before { content: '\e88e'; } /* '' */
.gr-icon.icon-export:before { content: '\e88f'; } /* '' */
.gr-icon.icon-direction:before { content: '\e890'; } /* '' */
.gr-icon.icon-trash:before { content: '\e891'; } /* '' */
.gr-icon.icon-trash-empty:before { content: '\e892'; } /* '' */
.gr-icon.icon-doc:before { content: '\e893'; } /* '' */
.gr-icon.icon-docs:before { content: '\e894'; } /* '' */
.gr-icon.icon-doc-text:before { content: '\e895'; } /* '' */
.gr-icon.icon-doc-inv:before { content: '\e896'; } /* '' */
.gr-icon.icon-doc-text-inv:before { content: '\e897'; } /* '' */
.gr-icon.icon-file-pdf:before { content: '\e898'; } /* '' */
.gr-icon.icon-desktop:before { content: '\e899'; } /* '' */
.gr-icon.icon-file-image:before { content: '\e89a'; } /* '' */
.gr-icon.icon-file-video:before { content: '\e89b'; } /* '' */
.gr-icon.icon-file-code:before { content: '\e89c'; } /* '' */
.gr-icon.icon-folder:before { content: '\e89d'; } /* '' */
.gr-icon.icon-folder-open:before { content: '\e89e'; } /* '' */
.gr-icon.icon-folder-empty:before { content: '\e89f'; } /* '' */
.gr-icon.icon-folder-open-empty:before { content: '\e8a0'; } /* '' */
.gr-icon.icon-rss:before { content: '\e8a1'; } /* '' */
.gr-icon.icon-phone:before { content: '\e8a2'; } /* '' */
.gr-icon.icon-cog:before { content: '\e8a3'; } /* '' */
.gr-icon.icon-cog-alt:before { content: '\e8a4'; } /* '' */
.gr-icon.icon-menu:before { content: '\e8a5'; } /* '' */
.gr-icon.icon-sliders:before { content: '\e8a6'; } /* '' */
.gr-icon.icon-basket:before { content: '\e8a7'; } /* '' */
.gr-icon.icon-cart-arrow-down:before { content: '\e8a8'; } /* '' */
.gr-icon.icon-cart-plus:before { content: '\e8a9'; } /* '' */
.gr-icon.icon-calendar:before { content: '\e8aa'; } /* '' */
.gr-icon.icon-calendar-empty:before { content: '\e8ab'; } /* '' */
.gr-icon.icon-login:before { content: '\e8ac'; } /* '' */
.gr-icon.icon-logout:before { content: '\e8ad'; } /* '' */
.gr-icon.icon-clock:before { content: '\e8ae'; } /* '' */
.gr-icon.icon-block:before { content: '\e8af'; } /* '' */
.gr-icon.icon-resize-full:before { content: '\e8b0'; } /* '' */
.gr-icon.icon-resize-full-alt:before { content: '\e8b1'; } /* '' */
.gr-icon.icon-resize-small:before { content: '\e8b2'; } /* '' */
.gr-icon.icon-resize-vertical:before { content: '\e8b3'; } /* '' */
.gr-icon.icon-resize-horizontal:before { content: '\e8b4'; } /* '' */
.gr-icon.icon-move:before { content: '\e8b5'; } /* '' */
.gr-icon.icon-zoom-in:before { content: '\e8b6'; } /* '' */
.gr-icon.icon-zoom-out:before { content: '\e8b7'; } /* '' */
.gr-icon.icon-arrow-curved:before { content: '\e8b8'; } /* '' */
.gr-icon.icon-gr-sendit:before { content: '\e8b9'; } /* '' */
.gr-icon.icon-combo-block:before { content: '\e8ba'; } /* '' */
.gr-icon.icon-windows:before { content: '\e8bb'; } /* '' */
.gr-icon.icon-down-dir:before { content: '\e8bc'; } /* '' */
.gr-icon.icon-up-dir:before { content: '\e8bd'; } /* '' */
.gr-icon.icon-left-dir:before { content: '\e8be'; } /* '' */
.gr-icon.icon-right-dir:before { content: '\e8bf'; } /* '' */
.gr-icon.icon-down-open:before { content: '\e8c0'; } /* '' */
.gr-icon.icon-left-open:before { content: '\e8c1'; } /* '' */
.gr-icon.icon-right-open:before { content: '\e8c2'; } /* '' */
.gr-icon.icon-up-open:before { content: '\e8c3'; } /* '' */
.gr-icon.icon-angle-left:before { content: '\e8c4'; } /* '' */
.gr-icon.icon-angle-right:before { content: '\e8c5'; } /* '' */
.gr-icon.icon-angle-up:before { content: '\e8c6'; } /* '' */
.gr-icon.icon-angle-down:before { content: '\e8c7'; } /* '' */
.gr-icon.icon-angle-circled-left:before { content: '\e8c8'; } /* '' */
.gr-icon.icon-angle-circled-right:before { content: '\e8c9'; } /* '' */
.gr-icon.icon-angle-circled-up:before { content: '\e8ca'; } /* '' */
.gr-icon.icon-angle-circled-down:before { content: '\e8cb'; } /* '' */
.gr-icon.icon-angle-double-left:before { content: '\e8cc'; } /* '' */
.gr-icon.icon-angle-double-right:before { content: '\e8cd'; } /* '' */
.gr-icon.icon-angle-double-up:before { content: '\e8ce'; } /* '' */
.gr-icon.icon-angle-double-down:before { content: '\e8cf'; } /* '' */
.gr-icon.icon-down:before { content: '\e8d0'; } /* '' */
.gr-icon.icon-left:before { content: '\e8d1'; } /* '' */
.gr-icon.icon-right:before { content: '\e8d2'; } /* '' */
.gr-icon.icon-up:before { content: '\e8d3'; } /* '' */
.gr-icon.icon-down-big:before { content: '\e8d4'; } /* '' */
.gr-icon.icon-left-big:before { content: '\e8d5'; } /* '' */
.gr-icon.icon-right-big:before { content: '\e8d6'; } /* '' */
.gr-icon.icon-up-big:before { content: '\e8d7'; } /* '' */
.gr-icon.icon-up-hand:before { content: '\e8d8'; } /* '' */
.gr-icon.icon-down-hand:before { content: '\e8d9'; } /* '' */
.gr-icon.icon-msg-exclaim:before { content: '\e8da'; } /* '' */
.gr-icon.icon-zones:before { content: '\e8db'; } /* '' */
.gr-icon.icon-clipboard:before { content: '\e8dc'; } /* '' */
.gr-icon.icon-timer:before { content: '\e8dd'; } /* '' */
.gr-icon.icon-cw:before { content: '\e8de'; } /* '' */
.gr-icon.icon-ccw:before { content: '\e8df'; } /* '' */
.gr-icon.icon-arrows-cw:before { content: '\e8e0'; } /* '' */
.gr-icon.icon-level-up:before { content: '\e8e1'; } /* '' */
.gr-icon.icon-level-down:before { content: '\e8e2'; } /* '' */
.gr-icon.icon-shuffle-1:before { content: '\e8e3'; } /* '' */
.gr-icon.icon-exchange:before { content: '\e8e4'; } /* '' */
.gr-icon.icon-history:before { content: '\e8e5'; } /* '' */
.gr-icon.icon-expand:before { content: '\e8e6'; } /* '' */
.gr-icon.icon-collapse:before { content: '\e8e7'; } /* '' */
.gr-icon.icon-expand-right:before { content: '\e8e8'; } /* '' */
.gr-icon.icon-collapse-left:before { content: '\e8e9'; } /* '' */
.gr-icon.icon-simulate:before { content: '\e8ea'; } /* '' */
.gr-icon.icon-play-circled:before { content: '\e8eb'; } /* '' */
.gr-icon.icon-play-circled2:before { content: '\e8ec'; } /* '' */
.gr-icon.icon-stop:before { content: '\e8ed'; } /* '' */
.gr-icon.icon-pause:before { content: '\e8ee'; } /* '' */
.gr-icon.icon-select-x:before { content: '\e8ef'; } /* '' */
.gr-icon.icon-blockit:before { content: '\e8f0'; } /* '' */
.gr-icon.icon-drawline:before { content: '\e8f1'; } /* '' */
.gr-icon.icon-progression:before { content: '\e8f2'; } /* '' */
.gr-icon.icon-tips:before { content: '\e8f3'; } /* '' */
.gr-icon.icon-readman:before { content: '\e8f4'; } /* '' */
.gr-icon.icon-eject:before { content: '\e8f5'; } /* '' */
.gr-icon.icon-pitchman:before { content: '\e8f6'; } /* '' */
.gr-icon.icon-signal:before { content: '\e8f7'; } /* '' */
.gr-icon.icon-wifi:before { content: '\e8f8'; } /* '' */
.gr-icon.icon-chart-area:before { content: '\e8f9'; } /* '' */
.gr-icon.icon-chart-line:before { content: '\e8fa'; } /* '' */
.gr-icon.icon-tablet:before { content: '\e8fb'; } /* '' */
.gr-icon.icon-mobile:before { content: '\e8fc'; } /* '' */
.gr-icon.icon-inbox:before { content: '\e8fd'; } /* '' */
.gr-icon.icon-sun:before { content: '\e8fe'; } /* '' */
.gr-icon.icon-cloud:before { content: '\e8ff'; } /* '' */
.gr-icon.icon-clipboard-check:before { content: '\e900'; } /* '' */
.gr-icon.icon-timer-rw:before { content: '\e901'; } /* '' */
.gr-icon.icon-refresh-dot:before { content: '\e902'; } /* '' */
.gr-icon.icon-table:before { content: '\e903'; } /* '' */
.gr-icon.icon-crop:before { content: '\e904'; } /* '' */
.gr-icon.icon-scissors:before { content: '\e905'; } /* '' */
.gr-icon.icon-paste:before { content: '\e906'; } /* '' */
.gr-icon.icon-ellipsis:before { content: '\e907'; } /* '' */
.gr-icon.icon-ellipsis-vert:before { content: '\e908'; } /* '' */
.gr-icon.icon-off:before { content: '\e909'; } /* '' */
.gr-icon.icon-list-alt:before { content: '\e90a'; } /* '' */
.gr-icon.icon-check:before { content: '\e90b'; } /* '' */
.gr-icon.icon-circle:before { content: '\e90c'; } /* '' */
.gr-icon.icon-circle-empty:before { content: '\e90d'; } /* '' */
.gr-icon.icon-check-empty:before { content: '\e90e'; } /* '' */
.gr-icon.icon-circle-thin:before { content: '\e90f'; } /* '' */
.gr-icon.icon-dot-circled:before { content: '\e910'; } /* '' */
.gr-icon.icon-asterisk:before { content: '\e911'; } /* '' */
.gr-icon.icon-chart-bar:before { content: '\e912'; } /* '' */
.gr-icon.icon-chart-pie:before { content: '\e913'; } /* '' */
.gr-icon.icon-magic:before { content: '\e914'; } /* '' */
.gr-icon.icon-filter:before { content: '\e915'; } /* '' */
.gr-icon.icon-tasks:before { content: '\e916'; } /* '' */
.gr-icon.icon-bug:before { content: '\e917'; } /* '' */
.gr-icon.icon-firefox:before { content: '\e918'; } /* '' */
.gr-icon.icon-floppy:before { content: '\e919'; } /* '' */
.gr-icon.icon-sort-down:before { content: '\e91a'; } /* '' */
.gr-icon.icon-sort-up:before { content: '\e91b'; } /* '' */
.gr-icon.icon-sort-alt-up:before { content: '\e91c'; } /* '' */
.gr-icon.icon-sort-alt-down:before { content: '\e91d'; } /* '' */
.gr-icon.icon-sitemap:before { content: '\e91e'; } /* '' */
.gr-icon.icon-cubes:before { content: '\e91f'; } /* '' */
.gr-icon.icon-cube:before { content: '\e920'; } /* '' */
.gr-icon.icon-puzzle:before { content: '\e921'; } /* '' */
.gr-icon.icon-at:before { content: '\e922'; } /* '' */
.gr-icon.icon-copyright:before { content: '\e923'; } /* '' */
.gr-icon.icon-eyedropper:before { content: '\e924'; } /* '' */
.gr-icon.icon-brush:before { content: '\e925'; } /* '' */
.gr-icon.icon-clipboard-exclaim:before { content: '\e926'; } /* '' */
.gr-icon.icon-clipboard-user:before { content: '\e927'; } /* '' */
.gr-icon.icon-apple:before { content: '\e928'; } /* '' */
.gr-icon.icon-android:before { content: '\e929'; } /* '' */
.gr-icon.icon-chrome:before { content: '\e92a'; } /* '' */
.gr-icon.icon-text-left:before { content: '\e92b'; } /* '' */
.gr-icon.icon-text-right:before { content: '\e92c'; } /* '' */
.gr-icon.icon-google:before { content: '\e92d'; } /* '' */
.gr-icon.icon-split-route:before { content: '\e92e'; } /* '' */
.gr-icon.icon-path:before { content: '\e92f'; } /* '' */
.gr-icon.icon-pinterest:before { content: '\e930'; } /* '' */
.gr-icon.icon-gamescript:before { content: '\e931'; } /* '' */
.gr-icon.icon-optionroute:before { content: '\e932'; } /* '' */
.gr-icon.icon-arrow-up-right:before { content: '\e933'; } /* '' */
.gr-icon.icon-twitter:before { content: '\e934'; } /* '' */
.gr-icon.icon-opera:before { content: '\e935'; } /* '' */
.gr-icon.icon-circle-right:before { content: '\e936'; } /* '' */
.gr-icon.icon-user-1:before { content: '\e937'; } /* '' */
.gr-icon.icon-users-1:before { content: '\e938'; } /* '' */
.gr-icon.icon-user-add:before { content: '\e939'; } /* '' */
.gr-icon.icon-layout:before { content: '\e93a'; } /* '' */
.gr-icon.icon-menu-1:before { content: '\e93b'; } /* '' */
.gr-icon.icon-check-1:before { content: '\e93c'; } /* '' */
.gr-icon.icon-cancel:before { content: '\e93d'; } /* '' */
.gr-icon.icon-cancel-squared:before { content: '\e93e'; } /* '' */
.gr-icon.icon-plus-1:before { content: '\e93f'; } /* '' */
.gr-icon.icon-plus-circled:before { content: '\e940'; } /* '' */
.gr-icon.icon-minus-1:before { content: '\e941'; } /* '' */
.gr-icon.icon-minus-circled:before { content: '\e942'; } /* '' */
.gr-icon.icon-minus-squared-1:before { content: '\e943'; } /* '' */
.gr-icon.icon-help:before { content: '\e944'; } /* '' */
.gr-icon.icon-help-circled-1:before { content: '\e945'; } /* '' */
.gr-icon.icon-info:before { content: '\e946'; } /* '' */
.gr-icon.icon-info-circled:before { content: '\e947'; } /* '' */
.gr-icon.icon-home:before { content: '\e948'; } /* '' */
.gr-icon.icon-chat-1:before { content: '\e949'; } /* '' */
.gr-icon.icon-shuffle:before { content: '\e94a'; } /* '' */
.gr-icon.icon-loop:before { content: '\e94b'; } /* '' */
.gr-icon.icon-switch:before { content: '\e94c'; } /* '' */
.gr-icon.icon-select-o:before { content: '\e94d'; } /* '' */
.gr-icon.icon-th-large:before { content: '\e94e'; } /* '' */
.gr-icon.icon-th:before { content: '\e94f'; } /* '' */
.gr-icon.icon-docs-alt:before { content: '\e950'; } /* '' */
.gr-icon.icon-gauge:before { content: '\e951'; } /* '' */
.gr-icon.icon-dot:before { content: '\e952'; } /* '' */
.gr-icon.icon-dot-2:before { content: '\e953'; } /* '' */
.gr-icon.icon-dot-3:before { content: '\e954'; } /* '' */
.gr-icon.icon-traffic-cone:before { content: '\e955'; } /* '' */
.gr-icon.icon-graduation-cap:before { content: '\e956'; } /* '' */
.gr-icon.icon-database:before { content: '\e957'; } /* '' */
.gr-icon.icon-undo:before { content: '\e958'; } /* '' */
.gr-icon.icon-share:before { content: '\e959'; } /* '' */
.gr-icon.icon-split:before { content: '\e95a'; } /* '' */
.gr-icon.icon-gr-shuffle:before { content: '\e95b'; } /* '' */
.gr-icon.icon-circle-left:before { content: '\e95d'; } /* '' */
.gr-icon.icon-vector:before { content: '\e95e'; } /* '' */
.gr-icon.icon-spread:before { content: '\e95f'; } /* '' */
.gr-icon.icon-coverflow-empty:before { content: '\e960'; } /* '' */
.gr-icon.icon-coverflow:before { content: '\e961'; } /* '' */
.gr-icon.icon-th-list:before { content: '\e962'; } /* '' */
.gr-icon.icon-circle-center:before { content: '\e963'; } /* '' */
.gr-icon.icon-ie:before { content: '\e964'; } /* '' */
.gr-icon.icon-editme:before { content: '\e965'; } /* '' */
.gr-icon.icon-balltarget0:before { content: '\e96d'; } /* '' */
.gr-icon.icon-balltarget1:before { content: '\e96e'; } /* '' */
.gr-icon.icon-assessment:before { content: '\e976'; } /* '' */
.gr-icon.icon-gr-selected-3:before { content: '\e977'; } /* '' */
.gr-icon.icon-gr-select-3:before { content: '\e978'; } /* '' */
.gr-icon.icon-gr-select-2:before { content: '\e979'; } /* '' */
.gr-icon.icon-gr-selected-2:before { content: '\e97a'; } /* '' */
.gr-icon.icon-gr-selected-4:before { content: '\e97b'; } /* '' */
.gr-icon.icon-gr-select-1:before { content: '\e97d'; } /* '' */
.gr-icon.icon-focus:before { content: '\e97f'; } /* '' */
.gr-icon.icon-gr-circle:before { content: '\e980'; } /* '' */
.gr-icon.icon-progression-1:before { content: '\e982'; } /* '' */
.gr-icon.icon-progression-2:before { content: '\e983'; } /* '' */
.gr-icon.icon-progression-3:before { content: '\e984'; } /* '' */
.gr-icon.icon-progression-4:before { content: '\e985'; } /* '' */
.gr-icon.icon-progression-5:before { content: '\e986'; } /* '' */
.gr-icon.icon-progression-a:before { content: '\e987'; } /* '' */
.gr-icon.icon-progression-b:before { content: '\e988'; } /* '' */
.gr-icon.icon-progression-c:before { content: '\e989'; } /* '' */
.gr-icon.icon-progression-d:before { content: '\e98a'; } /* '' */
.gr-icon.icon-progression-e:before { content: '\e98b'; } /* '' */
.gr-icon.icon-circle-arrow-in:before { content: '\e98c'; } /* '' */
.gr-icon.icon-hotroute:before { content: '\e98d'; } /* '' */
.gr-icon.icon-circle-arrow-out:before { content: '\e98e'; } /* '' */
.gr-icon.icon-pinchzoom:before { content: '\e991'; } /* '' */
.gr-icon.icon-black-white:before { content: '\e994'; } /* '' */
.gr-icon.icon-layers:before { content: '\e995'; } /* '' */
.gr-icon.icon-route-curve:before { content: '\e996'; } /* '' */
.gr-icon.icon-selected-x:before { content: '\e998'; } /* '' */
.gr-icon.icon-route-split:before { content: '\e999'; } /* '' */
