#buttongroupcomponent .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4.5px 14px;
  font-size: 13px;
  line-height: 1.846153846;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#buttongroupcomponent .btn-group-vertical>.btn, .btn-group>.btn {
  position: relative;
  float: left;
}
#buttongroupcomponent .type-title-text {
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
  background-color: transparent;
  box-shadow: none !important;
  text-transform: uppercase;
}
#buttongroupcomponent .btn-group>.btn+.dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
#buttongroupcomponent .type-title-arrow {
  vertical-align: middle;
  display: table-cell;
  box-shadow: none !important;
  background-color: transparent;
}
#buttongroupcomponent .btn-group-vertical>.btn, .btn-group>.btn {
  position: relative;
  float: left;
}
#buttongroupcomponent .dropdown-menu {
  margin: 0;
  border-color: rgba(255,255,255,.9);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
  float:left;
}
#buttongroupcomponent .dropdown-menu {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 13px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 2px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
}
#buttongroupcomponent .open .dropdown-toggle.btn-flat, #buttongroupcomponent .open .dropdown-toggle.btn-icon-toggle {
    background-color: rgba(12, 12, 12, 0.07) !important;
    border-color: transparent;
    box-shadow: none;
    color: inherit;
}
#buttongroupcomponent .open .dropdown-menu.animation-expand {
  -webkit-animation: slide-down .3s ease-out;
  -moz-animation: slide-down .3s ease-out;
  -ms-animation: slide-down .3s ease-out;
  -o-animation: slide-down .3s ease-out;
  animation: slide-down .3s ease-out;
  display: block;
}
